@model ToDoModel
@{
    ViewData["Title"] = "Creacion de Todo";
}

<div>
    <h1>Create ToDo</h1>
</div>

<div>
    <form asp-action="Crear">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        
        <div class="mb-3">
            <label asp-for="Name" class="form-label"></label>
            <input asp-for="Name" class="form-control" />
        </div>

        <div class="mb-3">
            <label asp-for="Description" class="form-label"></label>
            <textarea asp-for="Description" class="form-control"></textarea>
        </div>

        <button type="submit" class="btn btn-primary">Send</button>
        <a asp-action="Principal" class="btn btn-">Cancel</a>

    </form>
</div>

